USE [KTStore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Billing]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Billing](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[country] [nvarchar](max) NOT NULL,
	[firstName] [nvarchar](max) NOT NULL,
	[lastName] [nvarchar](max) NOT NULL,
	[companyName] [nvarchar](max) NOT NULL,
	[address] [nvarchar](max) NOT NULL,
	[apartment] [nvarchar](max) NOT NULL,
	[city] [nvarchar](max) NOT NULL,
	[state] [nvarchar](max) NOT NULL,
	[postcode] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](max) NOT NULL,
	[isApproved] [bit] NOT NULL,
 CONSTRAINT [PK_Billing] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[title] [nvarchar](max) NOT NULL,
	[imagePath] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[slug] [nvarchar](max) NOT NULL,
	[IsStatus] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[IsStatus] [bit] NOT NULL,
	[imagePath] [nvarchar](max) NOT NULL,
	[Author] [nvarchar](max) NOT NULL,
	[PageCount] [int] NOT NULL,
	[count] [int] NOT NULL,
	[Slug] [nvarchar](max) NOT NULL,
	[Language] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoldProduct]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldProduct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
 CONSTRAINT [PK_SoldProduct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14.01.2024 14:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](max) NOT NULL,
	[lastName] [nvarchar](max) NOT NULL,
	[email] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
	[userName] [nvarchar](max) NOT NULL,
	[phone] [nvarchar](max) NOT NULL,
	[agreeTerms] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240113182455_cratee', N'7.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240114073013_updd', N'7.0.15')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240114074122_son', N'7.0.15')
GO
SET IDENTITY_INSERT [dbo].[Billing] ON 

INSERT [dbo].[Billing] ([id], [userId], [country], [firstName], [lastName], [companyName], [address], [apartment], [city], [state], [postcode], [email], [phone], [isApproved]) VALUES (11, 1, N'Turkey', N'Yasin Çağrı', N'Solmaz', N'University of Kocaeli', N'Mevlana mah.', N'', N'İstanbul', N'Turkey', N'', N'solmazyasin@hotmail.com', N'05522654558', 1)
INSERT [dbo].[Billing] ([id], [userId], [country], [firstName], [lastName], [companyName], [address], [apartment], [city], [state], [postcode], [email], [phone], [isApproved]) VALUES (12, 5, N'Turkey', N'ali', N'demir', N'kocaeli univercity', N'kocaeli', N'', N'kocaeli', N'41', N'', N'ali@gmail.com', N'2332', 1)
INSERT [dbo].[Billing] ([id], [userId], [country], [firstName], [lastName], [companyName], [address], [apartment], [city], [state], [postcode], [email], [phone], [isApproved]) VALUES (13, 5, N'Turkey', N'ali', N'demir', N'University of Kocaeli', N'Mevlana mah.', N'', N'İstanbul', N'Turkey', N'', N'ali@gmail.com', N'05522654558', 1)
SET IDENTITY_INSERT [dbo].[Billing] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [slug], [IsStatus]) VALUES (1, N'Comics Books', N'com', 1)
INSERT [dbo].[Category] ([Id], [Name], [slug], [IsStatus]) VALUES (2, N'Arts & Photography Books', N'Arts', 1)
INSERT [dbo].[Category] ([Id], [Name], [slug], [IsStatus]) VALUES (4, N'Business & Money Books', N'Business', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Price], [Stock], [CategoryId], [IsStatus], [imagePath], [Author], [PageCount], [count], [Slug], [Language]) VALUES (4, N'Kitap 1', CAST(20.00 AS Decimal(18, 2)), 50, 1, 1, N'https://cdn.kobo.com/book-images/00284104-af1d-45d4-88f5-2a96bfb462d9/353/569/90/False/history-of-comic-books.jpg', N'Yazar 1', 200, 0, N'kitap1', N'Türkçe')
INSERT [dbo].[Product] ([Id], [Name], [Price], [Stock], [CategoryId], [IsStatus], [imagePath], [Author], [PageCount], [count], [Slug], [Language]) VALUES (5, N'Kitap 2', CAST(25.00 AS Decimal(18, 2)), 75, 1, 1, N'https://cdn.kobo.com/book-images/00284104-af1d-45d4-88f5-2a96bfb462d9/353/569/90/False/history-of-comic-books.jpg', N'Yazar 2', 300, 0, N'kitap2', N'İngilizce')
INSERT [dbo].[Product] ([Id], [Name], [Price], [Stock], [CategoryId], [IsStatus], [imagePath], [Author], [PageCount], [count], [Slug], [Language]) VALUES (6, N'Kitap 3', CAST(18.00 AS Decimal(18, 2)), 60, 2, 1, N'https://img.buzzfeed.com/buzzfeed-static/static/2019-11/26/20/asset/0aa9a3ffe2c4/sub-buzz-145-1574801381-7.jpg', N'Yazar 3', 250, 0, N'kitap3', N'Fransızca')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[SoldProduct] ON 

INSERT [dbo].[SoldProduct] ([Id], [BillId], [Quantity], [ProductId]) VALUES (19, 11, 3, 13)
INSERT [dbo].[SoldProduct] ([Id], [BillId], [Quantity], [ProductId]) VALUES (20, 11, 2, 10)
INSERT [dbo].[SoldProduct] ([Id], [BillId], [Quantity], [ProductId]) VALUES (21, 12, 2, 4)
SET IDENTITY_INSERT [dbo].[SoldProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [firstName], [lastName], [email], [password], [userName], [phone], [agreeTerms]) VALUES (1, N'Yasin Çağrı', N'Solmaz', N'solmazyasin@hotmail.com', N'123', N'yasin3', N'0(552) 265 45 58', 1)
INSERT [dbo].[User] ([Id], [firstName], [lastName], [email], [password], [userName], [phone], [agreeTerms]) VALUES (3, N'yas', N'ka', N'asdsad', N'password', N'username', N'asdsd', 1)
INSERT [dbo].[User] ([Id], [firstName], [lastName], [email], [password], [userName], [phone], [agreeTerms]) VALUES (4, N'ali', N'demir', N'asds', N'123', N'aa', N'05522654558', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category_CategoryId]
GO
